{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
	<section class="container big-padding" data-scroll-section>
		<div class="cart-wrapper">
            <div class="listing">
                <ul>
                    {% for item in items %}
                        <li class="item">
                            <div class="item__left">
                                <a href="{{ path('product', {'id': item.product.id}) }}">
                                    <div class="img-wrapper">
                                        <img src="{{ asset('/build/images/' ~ item.product.imagePath) }}" alt="">
                                    </div>
                                    <span class="name">{{item.product.name}}</span>
                                </a>
                            </div>
                            <div class="item__right">
                                <span class="quantity">{{item.quantity}}</span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <aside class="recap" data-scroll data-scroll-sticky=".cart-wrapper">
                <span class="recap__price">{{total}},00 €</span>
            </aside>
        </div>
	</section>
{% endblock %}
