{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<section class="container big-padding register" data-scroll-section style="height: 300vh">
		<h1>S'inscrire</h1>

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
		<div class="checkbox">
			{{ form_row(registrationForm.agreeTerms) }}
		</div>

		<button type="submit" class="btn-primary">Inscription</button>
		{{ form_end(registrationForm) }}
	</section>
{% endblock %}
