{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
	<section class="container big-padding" data-scroll-section>
		<div class="product-wrapper">
            <picture>
                <img src="{{ asset('/build/images/' ~ product.imagePath) }}" alt="{{ product.name }}">
            </picture>
            <div class="content">
                <img class="content__logo" src="{{ asset('/build/images/prada.svg') }}" alt="Logo de la marque Prada">
                <h3 class="content__title">{{ product.name }}</h3>
                <span class="content__price">{{ product.price }}€</span>
                <p class="content__desc">{{ product.description }}</p>
                <div class="validation-wrapper">
                    <button class="btn-primary js-add-cart" data-id="{{ product.id }}">Ajout au panier</button>
                    <div class="validation">
                        <span class="validation__msg">Article ajouté</span>
                    </div>
                </div>
            </div>
        </div>
	</section>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('menu') }}
        {{ encore_entry_script_tags('addToCart') }}
    {% endblock %}
{% endblock %}
